{:type :sftp,
 :supertype :tasklet,
 :description "SFTP Client",
 :properties {:ssh-agent-settings {:use-system-ssh-agent false}, :identities {:private-key-path "/path/to/key.pem"}, :sftp-cmds-vec [[:ls "/home/ec2-user/"]], :host "xxx.eu-central-1.compute.amazonaws.com", :session-options {:username "ec2-user", :strict-host-key-checking "no", :preferred-authentications "publickey"}},
 :workload-fn #titanoboa.exp.Expression{:value "io.titanoboa.tasklet.ssh/sftp", :type "clojure"}}
